/target
/.settings
/.classpath
/.project
/src/main/resources/META-INF/prod/twitter.properties
/src/main/resources/META-INF/prod/thisismyjam.properties
/src/main/resources/META-INF/prod/flickr.properties
/src/main/resources/META-INF/dev/*.properties
calendar_key.p12
test-output
